<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>重庆时时彩</string>
		<key>cpKey</key>
		<string>1</string>
		<key>title</key>
		<string>10分钟一期，22点后5分钟一期</string>
		<key>cpimg</key>
		<string>home1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>天津时时彩</string>
		<key>cpKey</key>
		<string>2</string>
		<key>title</key>
		<string>每天84期，10分钟一期</string>
		<key>cpimg</key>
		<string>home2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>新疆时时彩</string>
		<key>cpKey</key>
		<string>8</string>
		<key>title</key>
		<string>每天96期，10分钟一期</string>
		<key>cpimg</key>
		<string>home8</string>
	</dict>
	<dict>
		<key>name</key>
		<string>5分彩</string>
		<key>cpKey</key>
		<string>10</string>
		<key>title</key>
		<string>每天288期，5分钟一期</string>
		<key>cpimg</key>
		<string>home10</string>
	</dict>
	<dict>
		<key>name</key>
		<string>体彩P5</string>
		<key>cpKey</key>
		<string>13</string>
		<key>title</key>
		<string>每天的20:30开奖</string>
		<key>cpimg</key>
		<string>home13</string>
	</dict>
	<dict>
		<key>name</key>
		<string>北京5分彩</string>
		<key>cpKey</key>
		<string>21</string>
		<key>title</key>
		<string>每天179期，5分钟一期</string>
		<key>cpimg</key>
		<string>home21</string>
	</dict>
	<dict>
		<key>name</key>
		<string>北京PK10</string>
		<key>cpKey</key>
		<string>20</string>
		<key>title</key>
		<string>每5分钟一期</string>
		<key>cpimg</key>
		<string>home20</string>
	</dict>
	<dict>
		<key>name</key>
		<string>重庆幸运农场</string>
		<key>cpKey</key>
		<string>22</string>
		<key>title</key>
		<string>每天97期，10分钟一期</string>
		<key>cpimg</key>
		<string>home22</string>
	</dict>
	<dict>
		<key>name</key>
		<string>福彩3D</string>
		<key>cpKey</key>
		<string>3</string>
		<key>title</key>
		<string>每天的21:15开奖</string>
		<key>cpimg</key>
		<string>home3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>体彩P3</string>
		<key>cpKey</key>
		<string>4</string>
		<key>title</key>
		<string>每天的20:30开奖</string>
		<key>cpimg</key>
		<string>home4</string>
	</dict>
	<dict>
		<key>name</key>
		<string>广东11选5</string>
		<key>cpKey</key>
		<string>5</string>
		<key>title</key>
		<string>每天84期，10分钟一期</string>
		<key>cpimg</key>
		<string>home5</string>
	</dict>
	<dict>
		<key>name</key>
		<string>江西11选5</string>
		<key>cpKey</key>
		<string>6</string>
		<key>title</key>
		<string>每天84期，10分钟一期</string>
		<key>cpimg</key>
		<string>home6</string>
	</dict>
	<dict>
		<key>name</key>
		<string>山东11选5</string>
		<key>cpKey</key>
		<string>14</string>
		<key>title</key>
		<string>每天87期,10分钟一期</string>
		<key>cpimg</key>
		<string>home14</string>
	</dict>
	<dict>
		<key>name</key>
		<string>上海11选5</string>
		<key>cpKey</key>
		<string>15</string>
		<key>title</key>
		<string>每天90期，10分钟一期</string>
		<key>cpimg</key>
		<string>home15</string>
	</dict>
	<dict>
		<key>name</key>
		<string>江苏快3</string>
		<key>cpKey</key>
		<string>7</string>
		<key>title</key>
		<string>每天82期，10分钟一期</string>
		<key>cpimg</key>
		<string>home7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>广西快3</string>
		<key>cpKey</key>
		<string>18</string>
		<key>title</key>
		<string>每天78期，10分钟一期</string>
		<key>cpimg</key>
		<string>home18</string>
	</dict>
	<dict>
		<key>name</key>
		<string>香港六合彩</string>
		<key>cpKey</key>
		<string>23</string>
		<key>title</key>
		<string>不定期开奖</string>
		<key>cpimg</key>
		<string>home23</string>
	</dict>
</array>
</plist>
